.Cart-widget {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Cart-widget img {
    width: 35px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
    background-color: #e48648;
    border-radius: 50%;
    border: 2px solid rgba(77, 72, 67, 0.651);
    text-align: center;
    transition: background-color 0.3 ease;
}

.Cart-widget img:hover {
    background-color: #a3622d;
}

.Cart-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.Contador {
    padding: 10px 15px;
    background-color: #e48648;
    border-radius: 50%;
    border: 2px solid rgba(77, 72, 67, 0.651);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3 ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contador span:hover {
    background-color: #a3622d;
}