.Cart-widget img {
    position: fixed;
    top: 15px;
    right: 70px;
    padding: 10px;
    cursor: pointer;
    background-color: #e48648;
    border-radius: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(77, 72, 67, 0.651);
    text-align: center;
    width: 25px;
    height: 25px;
}

.Cart-widget img:hover {
    background-color: #a3622d;
}

.Cart-widget .Contador span {
    position: fixed;
    top: 18px;
    right: 37px;
    padding: 8px;
    background-color: #e48648;
    border-radius: 25%;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(77, 72, 67, 0.651);
    text-align: center;
    cursor: pointer;
}

.Cart-widget .Contador span:hover {
    background-color: #a3622d;
}