body {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  border: none;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.socials {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.socials a, .socials span {
  color: white;
  text-decoration: none;
}

.socials a:hover, .socials span:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

@media (min-width: 1280px) and (max-width: 1920px) {
  .footer {
    padding: 1.5rem 0;
  }

  body {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }

  .socials {
    flex-direction: column;
    gap: 0.5rem;
  }

  body {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}